/*@import "~antd/dist/antd.css";*/
* {
    list-style: none;
    margin: 0;
    padding: 0;
}

/*导航栏*/
.wrap {
    width: 100%;
    height: 130px;
    line-height: 100px;
}

.wrap .logo {
    width: 100px;
    height: 100px;
    float: left;
}

.wrap .logo img {
    width: 100%;
}

.wrap ul {
    float: left;
    margin-left: 10%;
    width: 40%;
    height: 100px;
    line-height: 100px;
}

.wrap ul li {
    color: #383735;
    font-size: 16px;
    float: left;
    margin-right: 12px;
}

.wrap .nav {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.wrap .nav li {
    font-size: 12px;
}

/*轮播图*/
.swiper {
    flex: 1.2;
    width: 50%;
    height: 350px;
    background: red;
    margin-right: 6%;
}

.swiper .swiper-container {
    height: 350px;
}

.swiper .swiper-wrapper{
    width: 100%;
}

.swiper .swiper-wrapper img{
    width: 100%;
    height: 350px;
}

.swiper .swiper-wrapper .swiper-slide {
    position: relative;
}

.swiper .swiper-wrapper .swiper-slide p{
    color: white;
    width: 100%;
    position: absolute;
    background: black;
    left: 0;
    bottom: 0;
    opacity: 0.8;
    height: 40px;
    line-height: 40px;
    text-indent: 3%;
}

/*产品新闻*/
.product-news {
    flex: 1;
    width: 50%;
    height: 350px;
    background: green;
}

/*今日头条*/
.today-headline {
    flex: 1.2;
    width: 50%;
    height: 350px;
    background: pink;
    margin-right: 6%;
}

/*公司产品*/
.company-products {
    flex: 1;
    width: 50%;
    height: 350px;
    background: black;
}

